/* FULL BLACK PREMIUM BACKGROUND */
.why-vakilkaro-section {
  background: #000;
  padding: 80px 0;
  color: white;
}

/* CONTAINER WIDTH */
.why-container {
  width: 85%;
  margin: auto;
}

/* MAIN HEADING */
.why-header h2 {
  font-size: 38px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 10px;
  
}

.why-header p {
  font-size: 17px;
  color: #dcdcdc;
  margin-bottom: 50px;
  line-height: 1.7;
}

/* CARD GRID */
.why-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

/* CARD */
.why-card {
  background: black;
  padding: 30px;
  border-radius: 16px;
  border: 2px solid #E4B34C;
  box-shadow: 0 8px 22px rgba(228, 179, 76, 0.25);
  transition: 0.3s ease;
}

.why-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(228, 179, 76, 0.40);
  border-color: #ffd57d;
}



/* GOLD ICON */
.why-icon {
  font-size: 40px;
  color: #E4B34C;
  margin-bottom: 15px;
}

/* CARD TITLE */
.why-card h4 {
  color: white;
  font-weight: 700;
  margin-bottom: 8px;
}

/* CARD PARAGRAPH */
.why-card p {
  color: white;
  line-height: 1.6;
  font-size: 15px;
}

/* CONTACT BOX */
.why-contact-box {
  background: #111;
  padding: 35px;
  border-radius: 20px;
  margin-top: 50px;
  text-align: center;
  border: 1px solid #333;
}

.why-contact-box h3 {
  color: #E4B34C;
  margin-bottom: 10px;
  font-weight: 700;
}

.why-contact-box p {
  color: #eee;
  margin-bottom: 20px;
  font-size: 15px;
}

/* BUTTONS */
.why-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.gold-btn {
  background: #E4B34C;
  color: #000;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.gold-btn:hover {
  background: #f8cf76;
}

.outline-btn {
  background: transparent;
  color: #E4B34C;
  padding: 12px 24px;
  border-radius: 10px;
  border: 2px solid #E4B34C;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.outline-btn:hover {
  background: #E4B34C;
  color: #000;
}



/* RESPONSIVE */
@media (max-width: 900px) {
  .why-grid {
    grid-template-columns: 1fr;
  }
}
